@model NewNeflixFrontEnd.Models.Series

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Series</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeImg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeImg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeQtdSeasons)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeQtdSeasons)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeSynopsis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeSynopsis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gr.GrId)
        </dd>
    </dl>
</div>
<div>
   <div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.SeId">Editar</a> |
    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model?.SeId">Deletar</a> |
  <br>
    <a class="btn btn-danger" asp-action="Index">Voltar</a>
</div>
</div>
