@model IEnumerable<Movie>


@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Filmes</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Adicionar Filme</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Imagem
            </th>
            <th>
                Título
            </th>
            <th>
                Data
            </th>
            <th>
                Duração
            </th>
            <th>
                Sinopse
            </th>
            <th>
                Gênero
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                <img src=@Html.DisplayFor(modelItem => item.MvImg) width=100px; height=150px/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MvTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MvDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MvDuration)min
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MvSynopsis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gr.Genre1)
            </td>

            <td>
                <div class="col-xs-12"><a asp-action="Edit" class="btn btn-secondary btn-sm" asp-route-id="@item.MvId">Editar</a></div>
                <a asp-action="Details" class="btn btn-secondary btn-sm col-xs-2" asp-route-id="@item.MvId">Detalhes</a> 
                <a asp-action="Delete" class="btn btn-secondary btn-sm col-xs-2" asp-route-id="@item.MvId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
